@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
    font-family: Ambroise;
    src: url(../font/ambroise.otf)
}

* {
    outline: 0
}

body,
html {
    height: 100%;
    margin: 0
}

.wow {
    visibility: hidden
}

@media screen and (min-width:320px) {
    body {
        background: url(../img/paper.png)
    }
    #contact,
    #desktop {
        display: none
    }
    #container,
    #links {
        display: block;
        margin: 10px 10px 10px 10px;
        padding: 10px 20px 10px 20px;
        box-shadow: 0 1px 2px #aaa;
        border-radius: 3px;
        background: #fff
    }
    #name {
        font-family: Ambroise, serif;
        font-size: 58px;
        text-align: center;
        color: #2c3e50;
        margin-bottom: 10px
    }
    #header {
        padding-top: 36px;
        margin-top: 20px;
        margin-bottom: 20px
    }
    hr {
        border-color: #2c3e50;
        border-style: solid;
        width: 100%;
        margin: 0 auto
    }
    hr#profile {
        border-top: 3px double #2c3e50
    }
    .cardhr {
        display: none
    }
    #avatar {
        margin: 0 auto;
        margin-top: -39px;
        width: 72px;
        height: 72px;
        border-radius: 100%;
        background: url(../img/avatar.png);
        background-size: 72px 72px
    }
    h2 {
        padding: 0;
        margin: 0;
        margin-top: 10px;
        font-family: Ambroise, serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #2c3e50;
        font-size: 24px
    }
    p {
        color: #2c3e50;
        margin-top: 0;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        line-height: 1.4
    }
    p a:active,
    p a:link,
    p a:visited {
        text-decoration: none;
        color: #6bb9f0;
        border-bottom: 1.2px #6bb9f0 dotted;
        font-family: Roboto, sans-serif
    }
    #social {
        color: #2c3e50;
        padding: 5px;
        padding-top: 10px;
        text-align: center
    }
    #social span {
        padding-right: 9px;
        padding-left: 9px
    }
    #social span.mobile {
        display: none
    }
    #love {
        margin-top: 15px
    }
    #links span a:active,
    #links span a:hover,
    #links span a:link,
    #links span a:visited {
        color: #2c3e50
    }
    #wrap {
        margin-left: 10px
    }
}

@media screen and (min-width:400px) {
    #container,
    #links {
        margin: 17px 17px 17px 17px;
        padding: 20px 20px 20px 20px
    }
}

@media screen and (min-width:1200px) {
    body {
        background: 0 0
    }
    #desktop {
        width: 100%;
        display: inline-block
    }
    #about,
    #thoughts {
        display: block
    }
    #header,
    #name,
    #resume {
        display: none
    }
    #links {
        box-shadow: none;
        margin: 0;
        border-radius: 0
    }
    #menu {
        text-align: center;
        width: 100%;
        padding: 25px 0 25px 0;
        background-color: #fff
    }
    #menu span a:active,
    #menu span a:hover,
    #menu span a:link,
    #menu span a:visited {
        font-family: Ambroise, serif;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: 2px;
        padding: 25px;
        color: #2c3e50
    }
    #me {
        background: linear-gradient(rgba(0, 0, 0, .14), rgba(0, 0, 0, .14));
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        padding-top: 100px;
        background-attachment: fixed
    }
    #shiv h1 {
        width: 720px;
        border: 2px solid #fff;
        outline: 2px solid #fff;
        outline-offset: 5px;
        font-family: Ambroise, serif;
        font-size: 96px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px
    }
    #container {
        padding: 0;
        margin: 0 auto;
        width: 55%;
        box-shadow: none
    }
    #about h2,
    #container h2,
    #thoughts h2 {
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #2c3e50;
        font-family: Ambroise, serif;
        font-size: 36px;
        display: inline-block;
        padding: 35px;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 20px;
        margin-bottom: -10px
    }
    #about p,
    #container p,
    #thoughts p {
        padding: 35px;
        margin: 0;
        font-size: 22px
    }
    #contact h2 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 20px;
        color: #fff;
        margin-top: 0
    }
    .card {
        width: 100%;
        margin-bottom: 40px;
        margin-top: 40px
    }
    .card:hover {
        -webkit-box-shadow: 0 1px 2px #aaa;
        -moz-box-shadow: 0 1px 2px #aaa;
        -o-box-shadow: 0 1px 2px #aaa;
        box-shadow: 0 1px 2px #aaa;
        border-radius: 3px
    }
    .cardhr {
        display: block;
        border: 0;
        border-bottom: 7px solid #2c3e50
    }
    #wrap {
        text-align: center
    }
    form {
        display: inline-block;
        text-align: left;
        width: 60%
    }
    input,
    textarea {
        width: 100%;
        outline: 0;
        padding: 15px;
        font-family: Roboto, sans-serif;
        border: 2px solid #fff;
        background: #2c3e50;
        color: #fff
    }
    input[type=submit] {
        font-family: Ambroise, serif;
        padding: 10px;
        font-size: 32px;
        cursor: crosshair;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
        width: 104%;
    }
    input::placeholder,
    textarea::placeholder {
        color: rgba(236, 240, 241, .7)
    }
    label {
        font-family: Roboto;
        color: #fff
    }
    textarea {
        resize: none
    }
    #contact {
        display: block;
        margin: 0;
        border-radius: 0;
        background: #2c3e50;
        color: #fff;
        padding: 40px
    }
    #social span.mobile {
        display: inline
    }
    #social span img{
        margin-top: -15px;
    }
    #links {
        padding: 30px
    }
}