@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('main.css');

@font-face {
	font-family: 'Ambroise';
	src: url('../font/ambroise.otf');
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../font/Century Gothic.ttf');
}

*{
	outline: none;
}

.typed-fade-out{
	opacity: 0;
	animation: 0;
	transition: opacity .25s;
}

html, body {
	height: 100%;
	margin: 0;
}

.wow { visibility: hidden; }

@media screen and (min-width: 320px){
	body{
		background: url('../img/paper.png');
	}

	#desktop{
		display: none;
	}

	#container, #links, #contact{
		display: block;
		margin: 10px 10px 10px 10px;
		padding: 10px 20px 10px 20px;
		box-shadow: 0 1px 2px #aaa;
		border-radius: 3px;
		background: white;
	}

	#name{
		font-family: 'Ambroise', serif;
		font-size: 58px;
		text-align: center;
		color: #2c3e50;
		margin-bottom: 10px;
	}

	#header{
		padding-top: 36px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	hr{
		border-color: #2c3e50;
		border-style: solid;
		width: 100%;
		margin: 0 auto;
	}

	hr#profile{
		border-top: 3px double #2c3e50;
	}

	#avatar{
		margin: 0 auto;
		margin-top: -39px;
		width: 72px;
		height: 72px;
		border-radius: 100%;
		background: url('../img/avatar.png');
		background-size: 72px 72px;
	}

	h2{
		padding: 0;
		margin: 0;
		margin-top: 10px;
		font-family: 'Century Gothic', sans-serif;
		font-weight: 300;
		color: #2c3e50;
		font-size: 24px;
	}

	p{
		color: #2c3e50;
		margin-top: 0;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		line-height: 1.4;
	}

	p a:link, p a:active, p a:visited{
		text-decoration: none;
		color: #6BB9F0;
		border-bottom: 1.2px #6BB9F0 dotted;;
		font-family: 'Roboto', sans-serif;
	}

	#social{
		color: #2c3e50;
		padding: 5px;
		padding-top: 10px;
		text-align: center;
	}

	#social span{
		padding-right: 9px;
		padding-left: 9px;
	}

	#love{
		 margin-top: 15px;
	}

	#links span a:link, #links span a:hover, #links span a:active, #links span a:visited{
    	color: #2c3e50;
    }

    #contact h2{ margin-top: 0; }

    #wrap{
    	margin-left: 10px; 
    }

    form{
    	display: inline-block;
    	text-align: left;
    }

    input, textarea{
    	width: 100%;
    	outline: none;
    	padding: 10px;
    	font-family: 'Roboto', sans-serif;
    	border: 2px solid #2c3e50;
    	background: white;
    	color: #2c3e50;
    }

    input[type=submit]{
    	font-family: 'Ambroise', serif;
    	padding: 10px;
    	font-size: 24px;
    	cursor: crosshair;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	margin-bottom: 20px;
    }

  	label{
  		font-family: 'Roboto';
  		color: #2c3e50;
  	}

  	textarea{
  		resize: none;
  	}
}

@media screen and (min-width: 400px){
	#container, #links{
		margin: 17px 17px 17px 17px;
		padding: 20px 20px 20px 20px;
	}
}

@media screen and (min-width: 1080px){
	body{
		background: transparent;
	}

	#desktop{
		width: 100%;
		display: inline-block;
	}

	#dthoughts, #dabout{
		display: block;
	}

	#name, #header, #resume{
		display: none;
	}

	#links{
		box-shadow: none;
		margin: 0;
		border-radius: 0;
	}

	#menu{
		text-align: center;
		width: 100%;
		padding: 25px 0px 25px 0px;
		background-color: white;
	}

	#menu span a:link, #menu span a:active, #menu span a:hover, #menu span a:visited{
		font-family: 'Ambroise', serif;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 28px;
		letter-spacing: 2px;
		padding: 25px;
		color: #2c3e50;
	}

	#me{
		background: linear-gradient( rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14) );
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		width: 100%;
		height: 500px;
		padding-top: 100px;
		background-attachment: fixed;
	}

	#shiv h1 {
        width: 720px;
        border: 2px solid white;
        outline: 2px solid white;
        outline-offset: 5px;
        font-family: 'Ambroise', serif;
        font-size: 96px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #container{
    	padding: 0;
    	margin: 0 auto;
    	width: 55%;
    	box-shadow: none;
    }

    #container h2, #dabout h2, #dthoughts h2, #contact h2{
    	margin-top: 70px;
    	width: 100;
    	text-align: center;
    	text-transform: uppercase;
    	letter-spacing: 3px;
    	border-radius: 3px;
    	background: #2c3e50;
    	color: white;
    	font-family: 'Ambroise', serif;
    	font-size: 36px;
    	padding: 5px;
    }

    #dabout h2{ margin-top: .83em; }

    #container p, #dabout p, #dthoughts p{
    	padding: 15px;
    	font-size: 22px;
    }

    #contact h2{ margin-top: 0; }

    #wrap{
    	text-align: center;
    }

    form{
    	display: inline-block;
    	text-align: left;
    	width: 60%;
    }

    input, textarea{
    	width: 100%;
    	outline: none;
    	padding: 15px;
    	font-family: 'Roboto', sans-serif;
    	border: 2px solid white;
    	background: #2c3e50;
    	color: white;
    }

    input[type=submit]{
    	font-family: 'Ambroise', serif;
    	padding: 10px;
    	font-size: 32px;
    	cursor: crosshair;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	margin-bottom: 20px;
    }

    input::placeholder, textarea::placeholder{
    	color: rgba(236, 240, 241, .7);
    }

  	label{
  		font-family: 'Roboto';
  	}

  	textarea{
  		resize: none;
  	}

    #contact{
    	display: block;
    	margin: 0;
    	border-radius: 0;
    	background: #2c3e50;
    	color: white;
    	padding: 40px;
    }

    #links{
    	padding: 30px;
    }
}
