@import url(https://fonts.googleapis.com/css?family=Abel);
@font-face {
    font-family: Bebas;
    src: url(../font/bebas.ttf), url(../font/bebas.woff2), url(../font/bebas.woff)
}

@import url('normalize,css');

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #3b7ea1
}

a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: #f4f4f4;
    padding-bottom: 1px;
    border-bottom: 1px dotted #f4f4f4
}

@-webkit-keyframes color-animation {
  0% {
    background: #f4f4f4;
  }
}
@keyframes color-animation {
  0% {
    background: #f4f4f4;
  }
}

@-webkit-keyframes font-color-animation {
  0% {
    color: #3b7ea1;
  }
}
@keyframes font-color-animation {
  0% {
    color: #3b7ea1;
  }
}

.color-animation {
	-webkit-animation: color-animation 0.5s ease-in-out alternate both;
	animation: color-animation 0.5s ease-in-out alternate both;
	-webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    ms-animation-delay: 1s;
    o-animation-delay: 1s;
    animation-delay: 1s;

}

.font-color-animation {
	-webkit-animation: font-color-animation 0.5s ease-in-out alternate both;
	animation: font-color-animation 0.5s ease-in-out alternate both;
	-webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    ms-animation-delay: 1s;
    o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    ms-transition: all .15s ease-in-out;
    o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

@media screen and (min-width:320px) {
    #page-right {
        width: 0;
        display: none
    }
    #page-left {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column
    }
    #left-wrap {
        margin: 40px
    }
    #page-left h1 {
        margin: 0;
        padding: 0;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 48px;
        font-family: Bebas, sans-serif;
        color: #f4f4f4;
    }
    #page-left p {
        font-family: Abel, sans-serif;
        letter-spacing: .5px;
        color: #f4f4f4;
        line-height: 1.75;
    }
    #social {
        display: flex;
        justify-content: flex-start;
        font-size: 24px
    }
    #social a {
        border: none;
        margin-right: 20px;
        margin-top: 20px
    }
}

@media screen and (min-width:400px) {
    #page-left h1 {
        font-size: 56px
    }
}

@media screen and (min-width:1200px) {
    body {
        display: flex
    }
    #page-left {
        margin: 0;
        padding: 0;
        width: 30%
    }
    #page-left p {
        font-size: 16px
    }
    #left-wrap {
        margin: 100px
    }
    #page-right {
    	-webkit-animation-delay: 1.15s;
	    -moz-animation-delay: 1.15s;
	    ms-animation-delay: 1.15s;
	    o-animation-delay: 1.15s;
	    animation-delay: 1.15s;
        display: block;
        width: 80%;
        min-height: 100%;
        background: url(../img/header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right
    }
}