@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('main.css');

@font-face {
	font-family: 'Ambroise';
	src: url('../font/ambroise.otf');
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../font/Century Gothic.ttf');
}

.typed-fade-out{
	opacity: 0;
	animation: 0;
	transition: opacity .25s;
}

html, body {
	height: 100%;
	margin: 0;
}

.wow { visibility: hidden; }

@media screen and (min-width: 320px){
	body{
		background: url('../img/paper.png');
	}

	#desktop, #contact{
		display: none;
	}

	#container, #links{
		display: block;
		margin: 10px 10px 10px 10px;
		padding: 10px 20px 10px 20px;
		box-shadow: 0 1px 2px #aaa;
		border-radius: 3px;
		background: white;
	}

	#name{
		font-family: 'Ambroise', serif;
		font-size: 58px;
		text-align: center;
		color: #2c3e50;
		margin-bottom: 10px;
	}

	#header{
		padding-top: 36px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	hr{
		border-color: #2c3e50;
		border-style: solid;
		width: 100%;
		margin: 0 auto;
	}

	hr#profile{
		border-top: 3px double #2c3e50;
	}

	#avatar{
		margin: 0 auto;
		margin-top: -39px;
		width: 72px;
		height: 72px;
		border-radius: 100%;
		background: url('../img/avatar.png');
		background-size: 72px 72px;
	}

	h2{
		padding: 0;
		margin: 0;
		margin-top: 10px;
		font-family: 'Century Gothic', sans-serif;
		font-weight: 300;
		color: #2c3e50;
		font-size: 24px;
	}

	p{
		color: #2c3e50;
		margin-top: 0;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		line-height: 1.4;
	}

	p a:link, p a:active, p a:visited{
		text-decoration: none;
		color: #6BB9F0;
		border-bottom: 1.2px #6BB9F0 dotted;;
		font-family: 'Roboto', sans-serif;
	}

	#social{
		color: #2c3e50;
		padding: 5px;
		padding-top: 10px;
		text-align: center;
	}

	#social span{
		padding-right: 9px;
		padding-left: 9px;
	}

	#love{
		 margin-top: 15px;
	}
}

@media screen and (min-width: 400px){
	#container, #links{
		margin: 17px 17px 17px 17px;
		padding: 20px 20px 20px 20px;
	}
}

@media screen and (min-width: 540px){
	
}

@media screen and (min-width: 720px){
	
}

@media screen and (min-width: 1080px){
	#desktop{
		width: 100%;
		display: inline-block;
	}

	#name, #header, #resume, #thoughts{
		display: none;
	}

	#links{
		box-shadow: none;
		margin: 0;
		border-radius: 0;
	}

	#menu{
		text-align: center;
		width: 100%;
		padding: 25px 0px 25px 0px;
		background-color: white;
	}

	#menu span{
		font-family: 'Ambroise', serif;
		text-transform: uppercase;
		font-size: 28px;
		letter-spacing: 2px;
		padding: 25px;
		color: #2c3e50;
	}

	#me{
		background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) );
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		width: 100%;
		height: 500px;
		padding-top: 100px;
		background-attachment: fixed;
	}

	#shiv h1 {
        width: 820px;
        border: 2px solid white;
        outline: 2px solid white;
        outline-offset: 5px;
        font-family: 'Ambroise', serif;
        font-size: 128px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #aboutme {
    	text-align: center;
    	background: #2c3e50;
    	color: white;
    	font-family: 'Roboto';
    	font-weight: 300;
    	font-size: 32px;
    	padding-bottom: 10px;
    }
    
    #aboutme h1{
    	display: inline;
    	padding: 0;
    	margin: 0;
    	font-family: 'Ambroise';
    	font-size: 60px;
    	color: white;
    }

    #contact{

    }

    #links{
    	padding: 30px;
    }
}
